* {
    /* border: white solid 1px; */
    transition: all 1s;
    color: #FFE81F;
    /* border: white 1px solid */
}
body #home {
    background: black;
}

body {
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFE81F;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-board {
    float: right;
    width: 50%;
    text-align: center;
    
}

#question-collection{
    float: left;
    width: 49%;
    height: 700px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}
#question-collection {
    width: 49%;
    height: 700;
}
#question-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

#question {
    width: 100%;
    text-align: center;
}
.btn {
    width: 50%;
    text-align: center;
    margin: 1em 0 1em 0;
    background-color: transparent;

}

/* 
canvas {
    border: black 1px solid;
} */


#instructions {
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 0;
}

#instructions #p1 {
    font-size: 0.5em;
   
}

#instructions #p2 {
    font-size: 0.6em;
   
}

#instructions #p3 {
    font-size: 0.7em;
   
}

#instructions #p4 {
    font-size: 0.8em;
   
}

#instructions #p5 {
    font-size: 0.8em;
   
}

#instructions #p6 {
    font-size: 1em;

}

#instructions #p7 {
    font-size: 1.2em;

}

hr {
    width: 50%;
}

.btn-right {
    width: 50%;
    text-align: center;
    margin: 1em 0 1em 0;
    background-color: transparent;
}

.btn-right.show{
    color: green
}

.btn-wrong.show{
    color: red
}

.start-btn {
    width: 50%;
    text-align: center;
    margin: 1em 0 1em 0;
    background-color: transparent;
    width: 100%;
    font-size: 2em;
    border: none;

}

#scores {
    width: 100%;
    text-align: center;
}

.gameTitle {
    font-family: fantasy;
    font-size: 4em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white
}

.harry-potter-logo {
    width: 30%;
}

.beer-glass {
    width: 30%;
    text-align: center;
}

.starWars-logo {
    width: 50%
}

#harry-potter-logo {
    width: 50%;
    text-align: center;
}

#starWars-logo {
    width: 50%;
    text-align: center;
}

#beer-glass{
    width: 50%;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#homepage h2 {
    font-family: fantasy;
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white
}

#homepage p {
    font-family: fantasy;
    font-size: 1.5em;
    text-align: center;
    color: white;
    width: 100%;
}

.player-score {
    font-family: fantasy;
    font-size: 2em;
    text-align: center;
    color: white;
}

.computer-score {
    font-family: fantasy;
    font-size: 2em;
    text-align: center;
    color: white;
}

@font-face {
    font-family: harryPotter;
    src: url('./Lumoslatino-XA8K.ttf');
}

.harryPotter {
    font-family: harryPotter;
    color: white;
}

.harryPotter #p1 {
    color: white;
}

.harryPotter #p2 {
    color: white;
}

.harryPotter #p3 {
    color: white;
}

.harryPotter #p4 {
    color: white;
}

.harryPotter #p5 {
    color: white;
}

.harryPotter #p6 {
    color: white;
}

.harryPotter #p7 {
    color: white;
    font-size: 3em;
    width: 100%;
    letter-spacing: 0.2em;
    line-height: 1em;
    width: 50%;
    display: flex;
    align-self: center;
}

.harryPotter .start-btn {
    color: white;
    font-family: harryPotter;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white
}

.harryPotter #question {
    color: white;
    font-family: harryPotter;
    text-shadow: 1px 1px 2px white
}

.harryPotter .btn {
    color: white;
    font-family: harryPotter;
    font-size: 1em;
}

#scores {
    font-size: 1em;
    color: white;
}



  